.room {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 100%;
  margin-bottom: 18px;
  border-radius: 0px 10px 10px 0px;
  -webkit-box-shadow: 2px 3px 16px -7px rgba(0, 0, 0, 0.27);
  box-shadow: 2px 3px 16px -7px rgba(0, 0, 0, 0.27);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.room--selected {
  background-color: #d5d5d5;
}

.room__img {
  border-radius: 50%;
  border: #1a9988 2px solid;
  margin: 10px 0px;
  object-fit: cover;
  height: 75px;
}

.room__name {
  font-size: 18px;
  font-weight: 700;
  color: #272126;
}

.room:hover {
  transform: scale(1.1);
}
