.room {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
  width: 100%;
  margin-bottom: 18px;
  border-radius: 0px 10px 10px 0px;
  -webkit-box-shadow: 2px 3px 16px -7px rgba(0, 0, 0, 0.27);
  box-shadow: 2px 3px 16px -7px rgba(0, 0, 0, 0.27);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.room--selected {
  background-color: #d5d5d5;
}

.room__img {
  border-radius: 50%;
  border: #1a9988 3px solid;
  object-fit: cover;
  height: 75px;
  width: 75px;
  /* margin-right: 25px; */
  margin: 10px 25px;
}

.room__name {
  font-size: 18px;
  font-weight: 700;
  color: #272126;
  white-space: pre-wrap;
  margin-bottom: 10px;
}

.room:hover {
  transform: scale(1.1);
}
