.chat {
  width: 70%;
  height: 75%;
  display: flex;
  flex-direction: column;
}

.chat__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9%;
  width: 100%;
  min-width: 736px;
  background-color: #f3f3f3;
  border-radius: 20px 20px 0px 0px;
}

.chat__headertext {
  margin: 15px 0px;
  margin-left: 45px;
  color: #272126;
  font-size: 26px;
  font-weight: 800;
}

.chat__headertext--exit {
  margin-left: 0px;
  margin-right: 45px;
  color: #eb5600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chat__headertext--exit:hover {
  color: #fa7a30;
}

.chat__body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 91%;
}

.chat__left {
  background-color: #fff;
  width: 75%;
  min-width: 500px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-radius: 0px 0px 0px 20px;
  white-space: normal;
}

.chat__left--inner {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  border-radius: 0px 0px 0px 20px;
}

.chat__right {
  background-color: #f3f3f3;
  width: 25%;
  min-width: 200px;
  height: 100%;
  border-radius: 0px 0px 20px 0px;
  padding: 0px 18px;
  overflow-y: scroll;
}

.chat__left--title {
  font-size: 4.5vw;
  font-weight: 800;
  color: #eb5600;
  text-align: left;
  margin: 0px 70px;
}

.chat__left--subtitle {
  font-size: 3vw;
  font-weight: 800;
  color: #1a9988;
  text-align: left;
  margin: 0px 70px;
}

.chat__bar {
  display: flex;
  width: 100%;
  margin: 15px 0px;
}

.chat__barform {
  width: 100%;
  padding: 0px 70px;
  display: flex;
}

.chat__barinput {
  width: 100%;
  height: 50px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-right: 15px;
  padding: 0px 10px;
}

.chat__barbtn {
  width: 90px;
  border: none;
  background-color: #eb5600;
  border-radius: 10px;
  cursor: pointer;
}

.chat__barbtn:hover {
  background-color: #fa7a30;
}

@media only screen and (max-width: 1400px) {
  .chat__left--title {
    font-size: auto;
  }

  .chat__left--subtitle {
    font-size: auto;
  }

  .chat__left {
    width: 60%;
  }

  .chat__right {
    width: 40%;
  }
}
